.row.align-items-center.justify-content-center.mt-5
  .col-6
    %h1.mb-5 Bunker Management System
    .card.border-light.mb-3.shadow
      .card-header
        Log In
      .card-body
        = form_tag login_post_path do
          .form-group
            = label_tag :email
            = email_field_tag :email ,'', {class: 'form-control'}
          .form-group
            = label_tag :password
            = password_field_tag :password, '', {class: 'form-control'}
          = submit_tag "Log in", {class: 'btn btn-primary'}
      .card-footer
        = link_to 'Sign Up', register_path
        If you dont have an account

