= form_with(model: inventory_item, local: true) do |form|
  = render 'layouts/error', errors: inventory_item.errors
  = form.hidden_field :bunker_id
  .form-group
    = form.label :food_type
    = form.text_field :food_type, class: 'form-control'
  .form-group
    = form.label :exp_date
    = form.date_select :exp_date, class: 'form-control'
  .form-group
    = form.label :quantity
    = form.number_field :quantity, class: 'form-control'
  .form-group
    = form.label :nutrition_per_unit
    = form.number_field :nutrition_per_unit, class: 'form-control'
  = form.submit 'Save' ,class: 'btn btn-primary'
  - if defined?(back_path)
    = link_to 'Back', back_path, { class: 'btn btn-secondary', type: 'button'}
