.row
  .col-md-8
    .card
      .card-header
        %strong= @user.name
        - if @user.admin
          %i.fas.fa-crown.text-primary
      .card-body
        %p
          %strong Email:
          = @user.email
        %p
          %strong Role:
          = @user.admin?? 'Admin' : 'User'
        %strong Assigned bunkers:
        -if @user.bunkers.any?
          %table.table
            %thead
              %th Name
              %th{:colspan => admin?? "2":"1"} Actions
            %tbody
              - @user.bunkers.each do |bunker|
                %tr
                  %td= bunker.name
                  %td
                    = link_to bunker_path(bunker), class:'btn btn-secondary btn-sm' do
                      %i.fas.fa-info-circle
                  - if admin?
                    %td
                      = link_to @user, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger btn-sm' do
                        %i.fas.fa-trash
      .card-footer
        - if admin?
          = link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'
        = link_to 'Back', users_path, class: 'btn btn-secondary'




