= form_with(model: bunker, local: true) do |form|
  - if bunker.errors.any?
    #error_explanation
      %h2
        = pluralize(bunker.errors.count, "error")
        prohibited this bunker from being saved:
      %ul
        - bunker.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :address
    = form.text_field :address
  .field
    = form.label :capacity
    = form.number_field :capacity
  .actions
    = form.submit
