= form_for bunker do |form|
  = render 'layouts/error', errors: bunker.errors
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .form-group
    = form.label :address
    = form.text_field :address, class: 'form-control'
  .form-group
    = form.label :capacity
    = form.number_field :capacity, class: 'form-control'

  = form.submit 'Save' ,class: 'btn btn-primary'
  - if defined?(back_path)
    = link_to 'Back', back_path, { class: 'btn btn-secondary', type: 'button'}
