<p id="notice"><%= notice %></p>

<h1>Bunkers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bunkers.each do |bunker| %>
      <tr>
        <td><%= bunker.name %></td>
        <td><%= bunker.address %></td>
        <td><%= bunker.capacity %></td>
        <td><%= link_to 'Show', bunker %></td>
        <td><%= link_to 'Edit', edit_bunker_path(bunker) %></td>
        <td><%= link_to 'Destroy', bunker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bunker', new_bunker_path %>
