<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bunker.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bunker.address %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @bunker.capacity %>
</p>

<%= link_to 'Edit', edit_bunker_path(@bunker) %> |
<%= link_to 'Back', bunkers_path %>
